<div class="container">
  <!-- Back  Button -->
      <div class="arrow">
        <span (click)="gotoUsers()"></span>
        <span (click)="gotoUsers()"></span>
        <span (click)="gotoUsers()"></span>
    </div>
    <h1>Water Quality Metrics</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Water Source</th>
          <th>Location</th>
          <th>WQI</th>
          <th>Risk Level</th>
          <th>Deviation</th>
          <th>Parameter Contributions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of waterQualityData">
          <td>{{ item.WaterQuality.id }}</td>
          <td>{{ item.WaterQuality.waterSource }}</td>
          <td>{{ item.WaterQuality.location }}</td>
          <td>{{ item.WQI }}</td>
          <td>
            <span
            class="badge"
            [ngStyle]="{
              'color': getRiskLevelColor(item.RiskLevel)

            }"
          >
            {{ item.RiskLevel }}
            </span>
          </td>
          <td>
            <ul>
              <li *ngFor="let deviationKey of objectKeys(item.Deviation)">
                {{ deviationKey }}: {{ item.Deviation[deviationKey ] | number: '1.2-3'  }}
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let contributionKey of objectKeys(item.ParameterContributions)">
                {{ contributionKey }}: {{ item.ParameterContributions[contributionKey]| number: '1.2-3'  }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  


  
  